<footer class="text-left">
  <div class="container-fluid">
    <div class="modal fade" id="imageCreditsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">Ã—</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title gray-kyn" id="myModalLabel">Image Credits</h3>
          </div>
          <div class="modal-body">
          <!--
            <p><img class="image-credits" src="//s3.amazonaws.com/kyn-production/images/concierge-tools-400px.jpg" width="75px"><a href="http://www.flickr.com/photos/jannem/">JanneM</a> via <a href="https://www.flickr.com/">Flickr</a></p><p><img class="image-credits" src="//s3.amazonaws.com/kyn-production/images/ipad-coffee.jpg" width="75px"><a href="https://www.flickr.com/photos/flysi/">FlySi</a> via <a href="https://www.flickr.com/">Flickr</a></p>
            <p><img class="image-credits" src="//s3.amazonaws.com/kyn-production/images/mobile-leather.jpg" width="75px"><a href="http://www.pixeden.com">Pixeden</a></p>
            <p><img class="image-credits" src="//s3.amazonaws.com/kyn-production/images/dispatch-ipad.jpg" width="75px"><a href="https://placeit.net/#!/stages/samsung-galaxy-4g-lte-silver-at-work">PlaceIt</a></p>
            <p><img class="image-credits" src="//s3.amazonaws.com/kyn-production/images/invite-welcome-bg.jpg" width="75px"><a href="http://www.freepik.com/free-photo/touch-screen-and-lights_757741.htm">FreePik</a></p>
            <p><img class="image-credits" src="//s3.amazonaws.com/kyn-production/images/curated-game-changers.jpg" width="75px"><a href="http://www.flickr.com/photos/21560098@N06/11834920636/">Nina Matthews Photography</a> via <a href="http://compfight.com">Compfight</a> <a href="https://creativecommons.org/licenses/by/2.0/">cc</a></p>
            <p><img class="image-credits" src="//s3.amazonaws.com/kyn-production/images/home/followers-thumbnail.jpg"> <a href="http://www.flickr.com/photos/vinothchandar" target="_blank">Vinoth Chandar</a> <a href="http://www.flickr.com/photos/vinothchandar/8093281752/" target="_blank">(image link)</a></p>
            <p><img class="image-credits" src="//s3.amazonaws.com/kyn-production/images/home/stairs-thumbnail.jpg"><a href="http://www.flickr.com/photos/marfis75/" target="_blank">Martin Fisch</a> <a href="http://www.flickr.com/photos/marfis75/6487647149/" target="_blank">(image link)</a></p>
            <p><img class="image-credits" src="//s3.amazonaws.com/kyn-production/images/home/social-network-thumbnail.jpg"><a href="http://www.flickr.com/photos/luc/" target="_blank">Luc Legay</a> <a href="http://www.flickr.com/photos/luc/1804295568/" target="_blank">(image link)</a></p>
            <p><img class="image-credits" src="//s3.amazonaws.com/kyn-production/images/hands-up.jpg"><a href="https://twitter.com/The_Blackness48/status/499714499688300545/photo/1" target="_blank">Twitter user @The_Blackness48</a></p>
            <p><img class="image-credits" src="//s3.amazonaws.com/kyn-production/images/tech5.jpg" width="75px"><a href="http://commons.wikimedia.org/wiki/File:Ghana_student_reading_with_Worldreader_CoFounder_David_Risher.jpg">Worldreader (Nadja Borovac)</a></p>
            <p><img class="image-credits" src="//s3.amazonaws.com/kyn-production/images/heforshe.jpg" width="75px"><a href="http://cascadeaids.org/en-espanol/attachment/image-for-cap-spanish-postcard-man-2"></a>Cascade AIDS</p>
            <p><img src="//s3.amazonaws.com/kyn-production/images/youth-activism.jpg">Photo Credit: <a href="https://www.flickr.com/photos/58117789@N00/8423535911/">angela7dreams</a> via <a href="http://compfight.com">Compfight</a> <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">cc</a></p>
            -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-1">
        <a href="/" class="footer-logo"><img src="{{ site.baseurl }}/images/logo-2color-light.png"></a>
      </div>
      <div class="col-xs-12 col-sm-11">
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="footer-link-headers">THE KYN PROJECT</li>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/our-story.html">Our Story</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="footer-link-headers">MEMBERS</li>
            <li><a style="cursor:default"><i class="fa fa-lock"></i>&nbsp;Coming Soon</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="footer-link-headers">GUESTS</li>
            <li><a style="cursor:default"><i class="fa fa-lock"></i>&nbsp;Coming Soon</a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav nav-pills nav-stacked">
            <li class="footer-link-headers">GET IN TOUCH</li>
            <li><a href="https://twitter.com/findkyn"><i class="fa fa-twitter-square"></i> @findkyn</a></li>
            <li><a href="mailto:hello@kyn.me" class="proto-contact"><i class="fa fa-envelope"></i> hello@kyn.me</a></li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="footer">
    <div class="row">
      <div class="col-lg-12">
        <ul class="nav nav-pills small">
          <li><a class="image-credits-link" href="/">© 2012-2015 Chad Kruse, The Kyn Project</a></li>
          <!--li>
            <ul class="list-inline text-center">
              <li><a class="image-credits-link" href="/terms-of-use">Terms of Service</a><a class="image-credits-link image-credit-links-separator" href="#">|</a><a class="image-credits-link" href="/privacy">Privacy</a></li>
            </ul>
          </li>
          <li><a class="image-credits-link" data-toggle="modal" data-target="#imageCreditsModal">Image Credits</a></li-->
        </ul>
      </div>
    </div>
  </div>
</footer>
