#story {

p a {
  text-decoration: underline;
  &:hover, &:focus {
    text-decoration: none;
  }
}

.story-signature {
  font-family: 'La Belle Aurore';
  font-size:35px;
}

.founderLetter.Lato {
font-family: Lato !important;
font-size: 80%;
}

.story-intro-image {
  width: 380px;
}

.story-cta {
  font-size: .7em;
  line-height: 1.4em;
}

.story-get-involved {
  padding-left: 20px;
  &.box-1 {
    border-left: 10px solid $red;
  }
  &.box-2 {
    border-left: 10px solid $blue;
  }
  &.box-3 {
    border-left: 10px solid $green;
  }
}

.btn-twitter-content {
  padding: 0 0px;
}

@media (max-width: $screen-xs-min) {
  .story-intro-image {
    width: 100%;
  }
}
//End #story wrapper
}

